* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #eebbc3;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 15px 0 30px 0;
  background-color: #232946;
  color: #FFFFFF;
}

.navLogo {
  font-size: 2.9rem;
  font-weight: 700;
  padding: 10px;
  font-weight: 900;
  font-style: normal;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}

h2 {
  padding: 2vw 0;
  color: #232946;
}

p b {
  color: #9656a1;
}

.cat {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 1rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 60%;
}

.size {
 display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.fact {
  border-top: 1px solid #ddd;
  padding-top: 0.75rem;
  line-height: 1.5;
}

footer p {
  font-size: .8rem;
}


.bear {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
