* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 16px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #eebbc3;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 15px 0 30px 0;
  background-color: #232946;
  color: #FFFFFF;
}

.navLogo {
  font-size: 2rem;
  font-weight: 900;
  padding: 10px;
  text-transform: uppercase;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}

h2 {
  padding: 2vw 0 0.5vw 1vw;
  color: #232946;
}

p b {
  color: #9656a1;
}

.cat {
  display: flex;
  flex-direction: column;
  background-color: #f9f8fc;
  border-radius: 10px;
  border: 3px solid #a786df;
  padding: 1rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 50%;
}


.ruler {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
  margin-right: 0.2rem;
}

.size {
  display: inline-block;
  align-items: center;
  margin: 0.5rem 0;
}

.fact {
  border-top: 2px solid #b8c1ec ;
  padding-top: 0.75rem;
  line-height: 1.5;
}

footer {
  height: 2vh;
}
footer p {
  font-size: .8rem;
}
